.main-page{
    position: relative;
    overflow-x: hidden;
}

.main-page .bg-square,
.sign-in-page .bg-square{
    position: absolute;
    top: -22vw;
    right: -75vw;
    width: 100vw;
    padding-top: 100%;
    border-radius: 5%;
    background-color: rgba(41, 147, 236, 0.1);
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(35deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    z-index: 1;
}

.div-dfe h3,
.sec-pricing h3{
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 2.65em;
    color: #3A4554;
    letter-spacing: 0.015em;
    opacity: 0.9;
}
 
@media (max-width: 1260px){
    
}

@media (max-width: 1080px){
    
}

@media (max-width: 799px){
    
}

@media (max-width: 600px){
    
}

@media only screen and (max-device-width: 600px) {

}