/** Contact Us**/
.sec-contact-us{
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 140px);
    width: 100%;
}

.div-contact-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1080px;
}

.div-contact-us h3{
    margin: 0px;
    font-size: 35px;
    color: #3A4554;
    opacity: 0.9;
    letter-spacing: -0.015em;
}

.div-contact-us p{
    width: 40%;
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 20px;
    color: #76879D;
    line-height: 28px;
    letter-spacing: 0.015em;
}

.div-contact-us img{
    width: auto; 
    height: 150px;
    margin: 4% 0;
}

.div-contact-us .user-input{
    margin-bottom: 15px;
}

.user-input.error .helper-txt{
    top: 38px;
}

.div-contact-us .user-input .user-icon,
.div-contact-us .user-input .email-icon{
    top: 11px;
}

.div-contact-us .user-input input{
    width: 250px;
}

.div-contact-us .user-input.name{
    margin-right: 5px;
}

.div-name-email{
    display: flex;
    flex-direction: row;
}

.div-contact-us .div-message{
    position: relative;
}

.div-message i{
    position: absolute;
    top: 11px;
    left: 11px;
    font-size: 18px;
    color: #b9bec7;
}

.div-contact-us .textarea{
  outline: none;
  display: flex;
  box-sizing: border-box;
  resize: none;
  border: 1px solid #e9ebf0;
  width: 505px;
  padding: 8px 20px 8px 40px;
  border-radius: 4px;
  font-size: 15px;
  transition: all 0.15s ease-in-out;
  font-weight: 400;
  line-height: 22px;
}

.div-contact-us .textarea:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

.div-contact-us .textarea::placeholder{
    color: #b9bec7;
    font-size: 16px;
}

.div-message.error .helper-txt{
    position: absolute;
    display: flex;
    top: 38px;
    color: #e70000;
    float: left;
    font-size: 12px;
    letter-spacing: 1px;
    z-index: 1;
}

.div-message.error textarea{
    border-color: #e70000;
}

.div-contact-us .user-input.error .helper-txt{
    top: 38px;
}

.div-contact-us .count{
    position: absolute;
    right: 8px;
    bottom: 6px;
    text-align: end;
    font-size: 12px;
    color: #b9bec7;
}

.send-message{
    margin-top: 3%;
    width: 150px;
}

.send-message i{
    margin-right: 8px;
}

.div-lottie-submit{
    margin-top: 3%;
    
    width: 60%;
    text-align: center;
    font-size: 20px;
    color: #76879D;
    line-height: 28px;
    letter-spacing: 0.015em;
}

@media (max-width: 1080px){
    
}


@media (max-width: 799px){
    /** Contact Us**/
    .div-contact-us{
        width: 700px;
    }
}

@media (max-width: 600px){
    /** Contact Us**/
    .div-contact-us{
        width: 500px;
    }
    .div-contact-us h3{
        font-size: 33px;
        letter-spacing: 0.015em;
    }
    .div-contact-us p{
        width: 80%;
        margin: 0 0 20px 0;
        line-height: 24px;
        font-size: 18px;
    }
    .div-contact-us .div-name-email{
        flex-direction: column;
    }
    .div-contact-us .div-message{
        width: 80%;
    }
    .div-contact-us .textarea{
        width: 100%;
    }
    .send-message{
        margin-top: 5%;
        width: 150px;
    }
}

@media only screen and (max-device-width: 600px) {
    .div-contact-us h3{
        font-size: 1.60em;
    }
    .div-contact-us img{
        height: 100px;
   }
   .div-contact-us p{
       width: 90%;
   }
   .div-name-email{
        width: 80%;
    }
    .div-contact-us .user-input input{
        width: 100%;
        border: none;
    }
    .div-contact-us .textarea{
        border: none;
    }
    .div-contact-us .user-input .user-icon, .div-contact-us .user-input .email-icon{
        top: 12px;
    }
    .div-message i{
        top: 13px;
    }
}