/* Designed for Everyone - dfe */
.sec-dfe{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    background-color: rgba(41, 147, 236, 0.1);
}

.div-dfe h3{
    margin-bottom: 50px;
}

.div-dfe{
    width: 100%;
}

.dfe-body{
    position: relative;
    display: grid;
    grid-template-rows: 400px 400px 400px;
    width: 100%;
    grid-row-gap: 0px;
}

.dfe-body-1a,
.dfe-body-2a,
.dfe-body-3a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 2px solid #fff;
}

.dfe-body-1b,
.dfe-body-2b,
.dfe-body-3b{
    width: 1080px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 20px;
    grid-template-rows: auto;
}

.dfe-body .lottie img{
    height: 250px; 
    width: auto; 
    display: flex; 
    margin: auto;
}

.dfe-desc{
    position: relative;
    display: grid;
    width: 100%;
    grid-row-gap: 15px;
    grid-template-rows: auto;
}

.dfe-desc .learn-more{
    width: 130px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    text-align: left;
    color: #38A5FF;
    background-color: transparent;
    outline: none;
    border: none;
    transition: all .15s ease-in-out;
}

.dfe-desc .learn-more:hover{
    cursor: pointer;
    opacity: 0.8;
}

.dfe-desc-hdr{
    width: 80%;
    margin: 0;
    text-align: left;
    font-size: 28px;
    color: #3A4554;
    letter-spacing: 0.015em;
    opacity: 0.9;
}

.dfe-txt-body{
    width: 80%;
    margin: 0;
    text-align: left;
    font-size: 18px;
    color: #76879D;
    line-height: 28px;
    letter-spacing: 0.015em;
}

.dfe-body-2 .dfe-desc-hdr,
.dfe-body-2 .dfe-txt-body{
    margin-left: auto;
}

.coming-soon {
    font-size: 12px;
    background-color: #2993ec;
    color: white;
    border: 1px #2993ec solid;
    border-radius: 5px;
    padding: 2px;
    vertical-align: middle;
}

@media (max-width: 1080px){
    /* Designed for Everyone - dfe */
    .sec-dfe{
        padding: 30px 0;
    }
    .div-dfe h3{
        font-size: 2.15em;
        margin-bottom: 30px;
    }
    .dfe-body{
        position: relative;
        display: grid;
        grid-template-rows: 300px 300px 300px;
    }
    .dfe-body-1b,
    .dfe-body-2b,
    .dfe-body-3b{
        width: 800px;
        grid-column-gap: 10px;
    }
    .dfe-desc{
        grid-row-gap: 10px;
    }
    .dfe-desc .learn-more{
        font-size: 16px;
    }
    .dfe-desc-hdr{
        font-size: 22px;
    }
    .dfe-txt-body{
        font-size: 16px;
        line-height: 24px;
    }
    .dfe-body .lottie img{
        height: 150px; 
        width: auto; 
        display: flex; 
        margin: auto;
    }
}


@media (max-width: 799px){
    /* Designed for Everyone - dfe */
    .div-dfe h3{
        font-size: 2.00em;
    }
    .dfe-body-1b,
    .dfe-body-2b,
    .dfe-body-3b{
        width: 700px;
    }
    .dfe-body-2b{
        padding-left: 10%;
    }
    .dfe-desc .learn-more{
        font-size: 16px;
    }
    .dfe-desc-hdr{
        width: 100%;
    }
}

@media (max-width: 600px){
    /* Designed for Everyone - dfe */
    .div-dfe h3{
        font-size: 1.60em;
    }
    .dfe-body{
        grid-template-rows: 375px 375px 375px;
    }
    .dfe-body-1b,
    .dfe-body-3b{
        flex-direction: column;
    }
    .dfe-body-2b{
        flex-direction: column-reverse;
    }
    .dfe-body-1b,
    .dfe-body-2b,
    .dfe-body-3b{
        display: flex;
        width: 500px;
    }
    .dfe-body-2b{
        padding-left: 0%;
    }
    .dfe-body .lottie img{
        height: 125px;
        margin: 25px 0;
    }    
    .dfe-desc{
        width: 70%;
        grid-row-gap: 5px;
    }
}

@media only screen and (max-device-width: 600px) {
    .div-dfe h3{
        margin-left: 15px;
        margin-right: 15px;
    }
    .dfe-body-1b, .dfe-body-2b, .dfe-body-3b{
        width: 100%;
    }
    .dfe-desc{
        width: 90%;
        grid-row-gap: 10px;
    }
    .dfe-desc-hdr{
        text-align: center;
    }
    .dfe-txt-body{
        width: 100%;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    .dfe-desc .learn-more{
        margin: auto;
        text-align: center;
    }
}