/* How it works */
.how-we-do-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 100px 0 150px 0;
    background-color: #f5f8fa;
}

.how-we-do-div{
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-self: center;
    width: 1260px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
}

.how-we-do-div h3{
    margin: 0px 0 60px 0;
    text-align: center;
    font-size: 2.65em;
    color: #3A4554;
    letter-spacing: 0.015em;
    opacity: 0.9;
}

.how-we-do-div .steps{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;
    grid-auto-columns: 1fr;
    grid-column-gap: 48px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
}

.steps ul{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    grid-row-gap: 20px;
    grid-template-rows: auto;
}

.steps .hdr{
    margin: 0;
    text-align: center;
    font-size: 21px;
    color: #3A4554;
    letter-spacing: 0.015em;
    opacity: 0.9;
}

.steps .lottie img{
    display: flex;
    margin: auto;
    width: auto;
    height: 150px;
}

.steps .text{
    width: 90%;
    margin: 0;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.015em;
    font-size: 18px;
    color: #76879D;
    letter-spacing: 0.015em;
}

@media (max-width: 1260px){
    .how-we-do-div{
        width: 1080px;
    }
}


@media (max-width: 1080px){
    /* How we do */
    .how-we-do-container{
        margin: 50px 0 100px 0;
    }
    .how-we-do-div{
        width: 800px;
        grid-row-gap: 10px;
    }
    .how-we-do-div h3{
        margin: 0px 0 40px 0;
        font-size: 2.15em;
    }
    .how-we-do-div .steps{
        grid-column-gap: 30px;
    }
    .steps ul{
        grid-row-gap: 15px;
    }
    .steps .hdr{
        font-size: 18px;
    }
    .steps .lottie img{
        height: 100px;
    }
    .steps .text{
        line-height: 24px;
        font-size: 16px;
    }
}


@media (max-width: 799px){
     /* How we do */
    .how-we-do-div{
        width: 700px;
        grid-row-gap: 10px;
    }
    .how-we-do-div h3{
        margin: 0px 0 30px 0;
        font-size: 2.00em;
    }
    .how-we-do-div .steps{
        grid-column-gap: 20px;
    }
    .steps ul{
        grid-row-gap: 10px;
    }
    .steps .hdr{
        font-size: 18px;
    }
    .steps .text{
        line-height: 20px;
        font-size: 16px;
    }
}

@media (max-width: 600px){
    /* How we do */
    .how-we-do-container{
        margin: 50px 0 100px 0;
    }
    .how-we-do-div{
        width: 500px;
    }
    .how-we-do-div h3{
        font-size: 1.6em;
    }
    .how-we-do-div .steps{
        grid-template-columns: none;
        grid-row-gap: 30px;
    }
    .steps .text{
        width: 80%;
        padding: 0 10%;
    }
}

@media only screen and (max-device-width: 600px) {
    .how-we-do-div h3{
        margin: 0;
    }
    .steps .lottie img{
        height: 125px;
    }
    .steps .hdr{
        font-size: 20px;
    }
    .steps .text{
        width: 90%;
        font-size: 18px;
        padding: 0 5%;
    }
    .steps ul{
        margin-top: 20px;
    }
}