/* Pricing */
.sec-pricing{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    width: 100%;
}

.div-pricing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1080px;
}

.sec-pricing h3{
    width: 100%;
    margin: 0;
    padding: 100px 0 10px 0;
    background-color: #f5f8fa;
    border-top: 2px solid #fff;
}

.sec-pricing .header-desc{
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 18px;
    color: #76879D;
    line-height: 1.55em;
    letter-spacing: 0.015em;
    background-color: #f5f8fa;
}

.body-pricing{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 100%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.col-bd{
    display: flex;
}

.cob-1{
    width: 40%;
    justify-content: flex-end;
    border-right: 2px solid #fff;
    background-color: #50d7e1;
}

.cob-2{
    width: 30%;
    justify-content: center;
    background-color: #62b8fe;
}

.cob-3{
    width: 40%;
    justify-content: flex-start;
    border-left: 2px solid #fff;
    background-color: #b48ff5;
}

.container-bd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 275px;
}

.cbd-1,
.cbd-3{
    margin: 0 10%;
}

.container-bd img{
    width: 150px;
    margin: 0 auto 20px auto;
    display: flex;
}

.col-bd .ln-2{
    padding: 2px 10px;
    font-size: 18px;
    line-height: 26px;
    color: #fff;
}

.col-bd .ln-3{
    margin: 2px 0 10px 0;
    padding: 2px 10px;
    font-size: 32px;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
}

.col-bd .ln-3 span{
    margin-right: 3px;
    font-size: 19px;
    line-height: 26px;
    vertical-align: top;
}

.col-bd .ln-4{
    margin: 0;
    color: #fff;
    font-size: 18px;
    line-height: 28px;
}

@media (max-width: 1260px){

}

@media (max-width: 1080px){
    /* Pricing */
    .sec-pricing{
        padding-bottom: 30px;
    }
    .div-pricing{
        width: 800px;
    }
    .sec-pricing h3{
        padding: 80px 0 10px 0;
        font-size: 2.15em;
    }
    .sec-pricing .header-desc{
        margin: 0 0 30px 0;
        font-size: 16px;
        line-height: 1.35em;
    }
    .body-pricing{
        height: 300px;
    }
    .cob-1,
    .cob-2,
    .cob-3{
        width: calc(100%/3);
    }
    .container-bd{
        width: calc(800px/3);
    }
    .cbd-1,
    .cbd-2,
    .cbd-3{
        margin: 10%;
    }
    .col-bd .ln-4{
        font-size: 16px;
        line-height: 22px;
    }
}


@media (max-width: 799px){
    /* Pricing */
    .div-pricing{
        width: 700px;
    }
    .sec-pricing h3{
        padding: 60px 0 10px 0;
        font-size: 2.00em;
    }
}

@media (max-width: 600px){
    /* Pricing */
    .sec-pricing h3{
        padding: 60px 0 10px 0;
        font-size: 1.60em;
    }
    .sec-pricing .header-desc{
        margin: 0 30px 30px 30px;
    }
    .body-pricing{
        flex-direction: column;
        height: auto;
    }
    .cob-1, .cob-2, .cob-3{
        width: 100%;
    }
    .cob-1, .cob-3{
        border: none;
        justify-content: center;
    }
    .cob-2{
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
}

@media only screen and (max-device-width: 600px) {
    .sec-pricing h3{
        width: calc(100% - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }
    .container-bd{
        width: 80%;
    }
    .cbd-1, .cbd-2, .cbd-3{
        margin: 12% 0;
    }
    .col-bd .ln-4{
        font-size: 18px;
        line-height: 24px;
    }
}