.profile{
    padding: 40px;
}

.div-profile{
    position: relative; 
    display: grid; 
    grid-template-columns: 1fr 1fr;  
    width: 100%; 
    grid-column-gap: 40px; 
    grid-template-rows: auto;
}

.div-profile .col-left{
    position: relative;
    display: grid;
    width: 100%;
    grid-row-gap: 40px;
    grid-template-rows: auto;
}

.profile.MuiContainer-root{
    margin-left: 0px;
}

.paper-ui,
.paper-location,
.paper-balance{
    border: 1px solid rgb(235, 238, 240);
}

.paper-ui{
    padding: 5%; 
    align-items: center;
}

.paper-balance{
    padding: 5%;
}

.paper-location{
    padding: 5%; 
    align-items: center;
}

.profile .info-header{
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10px;
    letter-spacing: 0.015em;
    color: #3a4554;
}

.paper-balance .info-header{
    margin-bottom: 0;
}

.profile .info-header h2{
    letter-spacing: 0.015em;
    color: #3a4554;
}

.info-header .lft{
    margin-right: 1px;
    text-align: center; 
    font-weight: 500; 
    letter-spacing: 0.015em;
    color: #3a4554;
}

.info-header .rht{
    margin-left: 50px;
    text-align: center; 
    font-weight: 500; 
    letter-spacing: 0.015em;
    color: #3a4554;
}

.profile .MuiButton-root{
    text-transform: inherit;
    font-size: 17px;
}

.text-info{
    padding: 10px;
    max-width: 300px; 
    text-align: center;
}

.paper-ui .input-ui{
    margin-bottom: 20px; 
    width: 350px;
}

.btn-location-action{
    display: flex; 
    margin: 20px auto;
}

.div-location-btns{
    width: 300px;
    justify-content: space-between; 
}

/* ai - address input section */
.ai-no-info{
    margin: auto;
    border-radius: 3px; 
    overflow: hidden;
}

.ai-map{
    width: 300px; 
    height: 250px; 
    border: 1px solid #ebeef0; 
    margin: auto; 
    border-radius: 3px; 
    overflow: hidden;
}

.ai-address{
    width: 70%; 
    height: 250px; 
    margin: auto;
}