/** Header & Footer**/
.header{
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0 10px 10px -10px rgba(33,35,38,0.1);
    height: 80px;
}

.footer{
    box-shadow: 0 10px 10px -10px rgba(33,35,38,0.1);
    background-color: rgb(255, 255, 255);
    height: 60px;
}

.header,
.footer{
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    z-index: 10;
}

.header .hdr-body,
.footer .ftr-body{
    width: 1260px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .a-logo img{
    height: 30px;
    padding-top: 27px;
}

.header .sec-link-btn{
    padding: 0;
    outline: none;
    border: none;
    background-color: transparent;
}

.header .sec-link-btn:hover{
    cursor: pointer;
}

.header .page-link,
.header .sec-link-btn{
    line-height: 80px;
    color: #42474c;
}

.footer .page-link,
.footer .copywrite{
    line-height: 60px;
    color: #95999e;
    user-select: none;
}

.header .page-link,
.footer .page-link,
.footer .copywrite,
.header .sec-link-btn{
    margin: 0 15px;
    font-size: 1.0625em;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-decoration: none;
}