/* Sidebar */
.sidebar .MuiButtonBase-root{
    margin: 5px 0;
}

.MuiListItem-root.Mui-selected,
.Mui-selected .lni{
    color: #2993ec;
}

.sidebar .MuiTypography-body1{
    font-size: 18px;
    letter-spacing: 0.015em;
}

.sidebar .MuiListItem-root.Mui-selected, 
.sidebar .MuiListItem-root.Mui-selected:hover{
    background-color: rgba(41, 147, 236, 0.08);
}