.sec-404{
    min-height: calc(100vh - 140px);
    padding-top: 80px;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #657786;
}

.sec-404 h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

.sec-404 p{
    width: 30%;
    margin: 0;
    text-align: center;
    font-size: 17px;
}

.sec-404 a{
    transition: all .15s ease-in-out;
    text-decoration: none;
    color: #2993ec;
}

@media only screen and (max-device-width: 600px) {
    .sec-404 h2{
        margin-top: 20px;
        margin-bottom: 15px;
    }
    .sec-404 p{
        width: 80%;
        line-height: 1.4em;
        font-size: 19px;
    }
}