.order-history{
    position: relative; 
    display: grid;
    width: 100%; 
    padding: 40px; 
    grid-row-gap: 45px; 
    grid-template-rows: auto;
}

.paper-order-history{
    padding: 5%;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    border: 1px solid rgb(235, 238, 240);
}

.ul-hdr-history-order-table{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px;
    list-style: none;
    width: 100%;
    grid-template-columns: 9.8% 17.7% 17.7% 13.8% 13.8%;
    margin: 0 0 10px 0;
}

.ul-row-history-order-table{
    position: relative;
    display: grid;
    align-items: center;
    justify-content: space-around;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 10px 5px;
    list-style: none;
    width: 100%;
    grid-template-columns: 9.8% 17.7% 17.7% 13.8% 13.8%;
    margin: 0 0 20px 0;
}


.ul-hdr-history-order-table li,
.ul-row-history-order-table li{
    text-align: center; 
    line-height: 20px;
}